@font-face {
    font-family: arkipelago;
    src: url("../menu/fonts/Arkipelago.ttf") format('truetype');
}
@font-face {
    font-family: cuprum;
    src: url("../menu/fonts/Cuprum-Regular.ttf") format('truetype');
}

.sm {
  margin-right: 20px;
  font-size: 40px;
}

h1.title {
  font-family: "arkipelago";
  font-size: 80px;
}

h2 {
  font-family: "arkipelago";
  font-size: 50px;
}

h4.date {
  font-family: "cuprum";
  font-size: 18px;
}

ul {
  list-style-type: none;
}

li {
  font-family: "cuprum";
  font-size: 1.5em;
}

li li {
  font-size: 0.8em;
}

.spicy {
  list-style-image: "assets/chilli.png";
}

.btn {
  font-size: 20px;
  font-family: "cuprum";
  margin-bottom: 20px;
  background-color: #54C354;
}

.tocify-extend-page {
  height: 10px;
}

.list-group-item:hover {
  background-color: #3E903E;
  color: light-grey;
}

.list-group-item.active, 
.list-group-item.active:hover {
  background-color: #3E903E;
}